$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #D4D4CF;
  color: #000;
  padding: 0.2em 0;
}

/* Reset boostrap styles */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #F7E9D9;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  text-align: center;
  padding-bottom: 20px;
}

/* Custom page header */
.header {
  height: 100px;

  .logo {
    display: inline;
    float: left;
    padding-right: 20px; /*space between text and logo*/
    max-width: 100px;
  }

  .logotype {
    float: left;
    width: 50%;
  }

  .nav {
    float: right;
    padding-top: 50px;

    li {
      margin-left: 10px;
      font-size: medium;

      a {
        color: #F7E9D9; /*global text color for nav links*/
      }

    }
  } /*end of nav styles*/

  h2 {
    padding-left: 20px;
  }

  h4 {
    font-size: 90%;
  }
} /*end of header sytles*/

/* Custom page footer */
.footer {
  color: #FAF4DD;
  padding-top: 19px;
  color: #33302D;
  width: auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Homepage Hero and Download Button*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image:url('/images/jumb-bg1.png');
  color: #DB2F46;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/*Styles for Main Div Globally*/
.container-fluid {
  padding-top: 20px;
  border-bottom: 3px solid #33302D;
  padding-bottom: 50px;
}

/*Custom Narative Page Styles*/
#homepage {

  background-color: #DB2F46;
  color: #F7E9D9;

    .nav-tabs {
      border-bottom: 1px solid #FF3752;

      li a:hover {
        background-color: #FF3752;
        border: 1px solid #FF3752;
      }
  }

  .nav .active {
    a {
    background-color: #DB2F46;
    border: 2px solid #FF3752;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}


} /*end of homepage styles*/

#projpage {

  background-color: #1E97C9;
  color: #F7E9D9;

    .nav-tabs {
      border-bottom: 1px solid #26C0FF;

      li a:hover {
        background-color: #26C0FF;
        border: 1px solid #26C0FF;
      }
  }

  .nav .active {
    a {
    background-color: #1E97C9;
    border: 2px solid #26C0FF;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}


} /*end of project page styles*/

#skillpage {

  background-color: #F0A320;
  color: #F7E9D9;

    .nav-tabs {
      border-bottom: 1px solid #FFBE22;

      li a:hover {
        background-color: #FFBE22;
        border: 1px solid #FFBB22;
      }
  }

  .nav .active {
    a {
    background-color: #F0A320;
    border: 2px solid #FFBB22;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}


} /*end of skill page styles*/

#workpage {

  background-color: #079972;
  color: #F7E9D9;

    .nav-tabs {
      border-bottom: 1px solid #0ACF9A;

      li a:hover {
        background-color: #0ACF9A;
        border: 1px solid #0ACF9A;
      }
  }

  .nav .active {
    a {
    background-color: #079972;
    border: 2px solid #0ACF9A;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}


} /*end of work page styles*/



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
