$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*Google Custom Fonts*/
@import url('https://fonts.googleapis.com/css?family=Capriola|Sniglet|Lato:400,700');

.browsehappy {
  margin: 0.2em 0;
  background: #D4D4CF;
  color: #000;
  padding: 0.2em 0;
}

/* Reset boostrap styles */
body {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #F7E9D9;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* change default bootstrap styles for headings*/
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 0.9;
}
h1 {
  text-align: center;
  padding-bottom: 20px;
}

.btn-primary {
  background-color: #AD9E87;
  color: #F7E9D9;
  border-color: #CCBA9F;
}

.btn-primary:hover {
  background-color: #8658CC;
  color: #D4A6FF;
  border-color: #9562E3;
}

.btn-default { /*social link footer buttons*/
  background-color: #AD9E87;
  color: #F7E9D9;
  border-color: #CCBA9F;
}

.btn-default:hover {
  background-color: #8658CC;
  color: #D4A6FF;
  border-color: #9562E3;
}

/* Custom page header */
.header {
  height: 100px;

  .logo {
    display: inline;
    float: left;
    padding-right: 10px; /*space between text and logo*/
    max-width: 100px;
  }

  .logotype {
    float: left;
    width: 65%;
    font-size: 28px;
    padding-bottom: 6px;
    display: block;

    h2{
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }

    .subtitle {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
    }
  }

  .nav {
    padding-top: 50px;
    float: right;
    display: block;

    li {
      margin-left: 10px;
      font-size: medium;

      a {
        color: #F7E9D9; /*global text color for nav links*/
      }

    }
  } /*end of nav styles*/

  h2 {
    padding-left: 20px;
  }

  h4 {
    font-size: 90%;
  }
} /*end of header sytles*/

/* Custom page footer */
.footer {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #F7E9D9;
  color: #33302D;
  width: auto;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Homepage Hero and Download Button*/
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-image:url('/images/jumb-bg1.png');
  color: #DB2F46;
  display: block;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/*Styles for Main Div Globally*/
.container-fluid {
  padding-top: 20px;
  border-bottom: 3px solid #33302D;
  padding-bottom: 50px;
}

/*Custom Narative Page Styles*/
#homepage {

  background-color: #DB2F46;
  color: #F7E9D9;

    .logotype {
      border-bottom: 1px solid #FF3752;
    }

    .nav-tabs {
      border-bottom: 1px solid #FF3752;

      li a:hover {
        background-color: #FF3752;
        border: 1px solid #FF3752;
      }
  }

  .nav .active {
    a {
    background-color: #DB2F46;
    border: 2px solid #FF3752;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}


} /*end of homepage styles*/

#projpage {

  background-color: #1E97C9;
  color: #F7E9D9;

  .logotype {
    border-bottom: 1px solid #26C0FF;
  }
    .nav-tabs {
      border-bottom: 1px solid #26C0FF;

      li a:hover {
        background-color: #26C0FF;
        border: 1px solid #26C0FF;
      }
  }

  .nav .active {
    a {
    background-color: #1E97C9;
    border: 2px solid #26C0FF;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}

  .thumbnail .btn-default { /*project page thumbnail button styles*/
      background-color: #1E97C9;
      color: #F7E9D9;
      border-color: #F7E9D9;
    }

  .thumbnail .btn-default:hover {
    background-color: #F7E9D9;
    border-color: #F7E9D9;
    color: #1E97C9;
  }

} /*end of project page styles*/

#skillpage {

  background-color: #F0A320;
  color: #F7E9D9;
  font-size: 16px;

  .logotype {
    border-bottom: 1px solid #FFBB22;
  }

    .nav-tabs {
      border-bottom: 1px solid #FFBE22;

      li a:hover {
        background-color: #FFBE22;
        border: 1px solid #FFBB22;
      }
  }
  .nav .active {
    a {
    background-color: #F0A320;
    border: 2px solid #FFBB22;
    color: #F7E9D9;
    border-bottom: transparent;
  }
}
  span {
    margin: auto;
    display: table;
  }

  .sectitl {
    background-color: rgba(255,187,34,0.5);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 1px;
  }

  .section{
    background-color: #FFBB22;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;

    ul { /*custom bullet point styles*/
      list-style-type: none;
    }
    li {
      display: block;
    }
    li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #8658CC;
    }
  }


} /*end of skill page styles*/

#workpage {

  background-color: #079972;
  color: #F7E9D9;

  .logotype {
    border-bottom: 1px solid #0ACF9A;
  }

    .nav-tabs {
      border-bottom: 1px solid #0ACF9A;

      li a:hover {
        background-color: #0ACF9A;
        border: 1px solid #0ACF9A;
      }
  }

  .nav .active {
    a {
    background-color: #079972;
    border: 2px solid #0ACF9A;
    color: #F7E9D9;
    border-bottom: transparent;
    }
  }

  .courtitl {
    background-color: rgba(10,207,154,0.5);
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 1px;
  }

  .courdesc {
    background-color: #0acf9a;
    padding: 8px 10px 8px 10px;
    border-radius: 4px;
  }

} /*end of work page styles*/

div .thumbnail {
  background-color: rgba(255,255,255, 0.3);
  border: none;
  padding: 5px;

  .caption {
    color: #F7E9D9;
  }
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
